<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% include "layout/head.html" %}
</head>
<body>
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      {% include "layout/nav.html" %}

      {% include "layout/sidebar.html" %}
    </nav>

    <div id="page-wrapper">
      {% block content %}
      
      {% endblock content %}
    </div>
  </div>

  {% include "layout/js.html" %}

  {% block inline_js %}
  
  {% endblock inline_js %}
</body>
</html>