<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% include "layout/head.html" %}
</head>
<body>
  <div id="container">
    {% block content %}
    
    {% endblock content %}
  </div>
  
  {% include "layout/js.html" %}
  {% block inline_js %}
  
  {% endblock inline_js %}
</body>
</html>