<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="/profil/"><i class="fa fa-user fa-fw"></i> Profil</a>
            </li>            
            <li>
                <a href="/Pemilu"><i class="fa fa-edit fa-fw"></i> Pemilu</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Pengaturan Pemilu<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/partai"> Partai</a>
                    </li>
                    <li>
                        <a href="/kandidat"> Kandidat</a>
                    </li>
                    <li>
                        <a href="/jenis-pemilu"> Jenis Pemili</a>
                    </li>
                    <li>
                        <a href="/tps"> TPS</a>
                    </li>
                    <li>
                        <a href="/Perolehan-Suara"> Perolehan Suara</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->