{% extends "layout/base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Profil</h1>
      <ol class="breadcrumb" style="margin-bottom: 5px;">
        <li class="active">Beranda</li>
      </ol>
      <br />
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Hi, {{ request.session.username }}
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="table-responsive">
                          <table class="table table-bordered table-hover table-striped">
                              <tbody>
                                  <tr>
                                      <td>Nama</td>
                                      <td style="width:10px;">:</td>
                                      <td>{{ karyawan.nama }}</td>
                                  </tr>
                                  <tr>
                                      <td>Alamat</td>
                                      <td style="width:10px;">:</td>
                                      <td>{{ karyawan.alamat }}</td>
                                  </tr>
                                  <tr>
                                      <td>Jenis Kelamin</td>
                                      <td style="width:10px;">:</td>
                                      <td>{{ karyawan.jenis_kelamin }}</td>
                                  </tr>
                                  <tr>
                                      <td>Jenis Karyawan</td>
                                      <td style="width:10px;">:</td>
                                      <td>{{ karyawan.jenis_karyawan }}</td>
                                  </tr>
                                  <tr>
                                      <td>No. Telepon</td>
                                      <td style="width:10px;">:</td>
                                      <td>{{ karyawan.no_telepon }}</td>
                                  </tr>
                                  <tr>
                                      <td>E-mail</td>
                                      <td style="width:10px;">:</td>
                                      <td>{{ karyawan.email }}</td>
                                  </tr>                                  
                                  <tr>
                                      <td>Divisi</td>
                                      <td style="width:10px;">:</td>
                                      <td>{{ karyawan.divisi.nama }}</td>
                                  </tr>
                                  <tr>
                                      <td>Jabatan</td>
                                      <td style="width:10px;">:</td>
                                      <td>{{ karyawan.jabatan.nama }}</td>
                                  </tr>

                              </tbody>
                          </table>
                      </div>
                      <!-- /.table-responsive -->
                  </div>
                  <!-- /.col-lg-4 (nested) -->
              </div>
              <!-- /.row -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
  <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
{% endblock content %}