<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>QUICO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body>
  <H1>Login</H1>
  <form action="/login/" method="POST">
    {% csrf_token %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li> {{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    Username : <input type="text" name="username" value="">
    Password : <input type="password" name="password" value="">
    <input type="submit" value="Login">
  </form>
</body>
</html>